extends layout

block content
  h1 Dog-Shelter
  h3 Welcome to the Dog Shelter API


  P Available API:
  p
  |GET
  br
  /api/dogs 
  br
  /api/dogs/:id
  br
  p

  |POST
  br
  /api/dog
  br
  
  p
  |UPDATE
  br
  /api/dog/:id
  br

  p
  |DELETE
  br
  /api/dog/:id

  
